@font-face {
	font-family: Montserrat;
	src: '../assets/fonts/Montserrat-Black.otf';
	font-weight: bold;
}
@font-face {
	font-family: myriadpro;
	src: '../assets/fonts/myriad pro bold semiextended.ttf';
	font-weight: bold;
}
@font-face {
	font-family: circular;
	src: '../assets/fonts/CircularStd-bold.otf';
	font-weight: bold;
}
/*columns css starts*/
.text-section{
	height:100vh;
	background-color:#fefefe;
}
.slider-section{
	height: 843px;;
	position: relative;
	background-color:#8ac5f2;
	float:right;
	/*min-height:900px;*/
}
.navbar-dark .navbar-nav .nav-link{
	color:black;
}
.navbar-dark .navbar-brand{
	color:#1e3088;
	font-family: Montserrat;
	font-weight: bolder;
	font-size:39px;
	position: absolute;
	left: 54px;
   /* left: 49px;
   top: 20px;*/
}
nav.navbar.navbar-expand-lg.navbar-dark.primary-color {
	float: left;
	position: absolute;
	z-index: 99999;
	width: 45%;
	top: 38px;
}
ul.navbar-nav {
	position: absolute;
	right: 0px;
}
.icon{

	font-size: 29px;
}
/*columns css ends*/

/deep/.example-small-box[_ngcontent-c0], .example-large-box[_ngcontent-c0] {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin: 16px; */
	padding: 16px;
	height: 260px;
	width: 300px;
}

/*inner text section css start*/


.outer-decor-section {
	width: 100%;
}
.inner-decor-section {
	float: left;
	/* margin: 0px; */
	position: absolute;
	width: 70%;
	top: 172px;
	left: 77px;

}
.inner-decor-section h1{
	font-family: circular;
	font-weight: bolder;
	font-size: 50px;
	font-color: #1c1d22;
	width: 100%;
	padding-left: 26px;
	text-align: left;
}
.inner-decor-section ul li {
	font-family: Montserrat;
	list-style: none;
	display: inline-block;
	padding-left: 29px;
	font-weight:bold;
	font-size:20px;
}
.border-dark-recent{
	color:#ecaf9b;
}
.border-dark-popular{
	color:#eeeeee;
}
.creative-txt[_ngcontent-c0] {
    width: 86%;
    font-family: Montserrat;
    font-weight: regular;
    padding-left: 0px;
    padding: 21px;
    font-size: 18px;
    color: #6c6c6c;
    line-height: 38px;
    font-weight: regular;
}
/deep/.mat-tab-body-content {
    height: 100%;
    overflow: hidden;
}
.heart-icon{
	color:#e75b5a !important;
}
button.btn.read-btn.waves-light {
	width: 36%;
	height: 48px;
	color: white;
	background-color: #1c1c1d;
	margin-left:17px;
	border: 1px solid #1c1c1d;
	margin-top: 30px;
	font-size:18px;
	border-radius: 0px;
}
button.btn.btn-primary.watch-video-btn.waves-light{
	width: 36%;
	height: 48px;
	color: white;
	background-color:#1e3088;
	margin-left: 22px;
	border: 1px solid #1e3088;
	margin-top: 30px;
	font-size:18px;
	border-radius: 0px;
}
.plus-icon{
	background-color: #df573f;
    font-size: 31px;
    color: white;
    position: absolute;
    border-radius: 100%;
    padding: 8px 17px 9px 16px;
    right: -113px;
    z-index: 999999;
    bottom: 96px;

}
.container.image_slider {
	position: absolute;
	top: 0px;
	z-index:9999;
	right: 48px;
}
.col-sm-6.social_icons[_ngcontent-c0] {
    position: absolute;
    bottom: 73px;
    left: -17%;
    z-index: 9999;
}
.social_icons li{
	list-style: none;
	display: inline-block;
	color:#6c6c6c;
	padding-left: 20px;
}
.social-network {
	float: right;
	position: absolute;
	/* bottom: 78px; */
	right: -20px;
	bottom: 315px;
}
.social-network li{
	list-style:none;
	color:#ffffff;
	left:10px;
	padding-top: 15px;
}
.facebook{
	background-color:#485992;
	border-radius:100%;
	padding: 6px 10px 7px 11px;
	position:absolute;
	right: -5px;
	bottom: 131px;
	box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.4);
}
.artwork{
	font-family: myriadpro;
	font-size:30px;
	padding-left: 20px;
}
.carousel-caption p{
	padding-left: 20px;
}
.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: -10px;
	left: 0px;
	width: 100%;
	z-index: 10;
	padding-top: 6px;
	padding-bottom: 0px;
	color: #fff;
	text-align: left;
	background-color: black;
}
.artdesign{
	font-family: myriadpro;
	font-size:18px;
}
.author-name{
	color:#8ac5f2;
}
/deep/span.icon-prev.carousel-control-prev-icon {
	bottom: -42px;
    position: absolute;
    left: 362px;

}
/deep/span.icon-prev.carousel-control-prev-icon::after{
	content:"Prev";
	color:#ffffff;
	font-size:20px;
	position: absolute;
	bottom: -5px;
	left: 21px;

}
/deep/span.icon-next.carousel-control-next-icon::before{
	content:"Next";
	color:#ffffff;
	font-size:20px;
	position: absolute;
	right: 23px;
	bottom: -3px;
}
/deep/span.icon-next.carousel-control-next-icon {
	position: absolute;
	bottom: -45px;
	right: 7px;

}
.block-example{
	border-bottom:2px;
}
/deep/li.ng-star-inserted {
	border-radius: 100%;
	height: 13px;
	width: 13px;
}

/deep/.carousel-indicators{
	right: 0;
	bottom: -8%;
	left: 57%;
}
/* customize mat tabs*/
/deep/.mat-elevation-z4{
	box-shadow:none;
}
/deep/.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
	background-color:#e59275;
}
/deep/.mat-tab-label .mat-tab-label-content-active{
	color:#e59275;
}
/deep/.mat-tab-label {
	color: #dadada;
}
/deep/.mat-tab-label.mat-tab-label-active {
	color: #e59275;
}

/*inner text section css start*/

.icons-wall{
	background-color:white;
}

/* Animation css  starts */
.text-heading{
 visibility: visible; animation-name: fadeIn;
}
/* animation css ends*/

/*responsive view */
	@media (min-width: 320px) and (max-width: 480px) { 
		.inner-decor-section[_ngcontent-c0][_ngcontent-c0] {
		    float: left;
		    position: absolute;
		    width: 100%;
		    top: 88px;
		    left: 2px;
		}
		.inner-decor-section h1 {
		    font-size: 25px;
		    width: 82%;
		}
		.navbar-dark[_ngcontent-c0] .navbar-brand[_ngcontent-c0]{
			left: 14px;
			font-size: 29px
		}
		nav.navbar.navbar-expand-lg.navbar-dark.primary-color[_ngcontent-c0]{
			top: 14px;
		}
		button.btn.read-btn.waves-light[_ngcontent-c0]{
			font-size: 15px;
			margin-top: 0px;

		}
		button.btn.btn-primary.watch-video-btn.waves-light[_ngcontent-c0]{
			font-size: 15px;
			margin-top: 0px;
		}
		.container.image_slider{
			right: 0px;
		}
		.text-section[_ngcontent-c0]{
			height:423px;
		}
		/deep/.carousel-inner{
			height:auto;
			top: 45px;;
			padding-right:20px;
		}
		.slider-section[_ngcontent-c0]{
			height:auto;
			top:45px;
			background-color: transparent;
		}
		.social-network li {
    		color: rgba(0,0,0,.87);
		}
		.slide-img{
			width:100%;
		}
		.plus-icon {
			background-color: #df573f;
			font-size: 31px;
			color: white;
			position: absolute;
			border-radius: 100%;
			padding: 9px 13px 10px 11px;
			right: 46%;
		    z-index: 999999;
		    bottom: -34%;
		}
		.col-sm-6.social_icons {
			position: unset !important;
			left: unset !important;
			z-index: 999999999 !important;
			bottom: unset !important;
			padding-top: 9px;
		}
		.plus-icon-div{
			float: none;
		    width: 200px;
		    margin: 0 auto;
		}
		.col-sm-6.social_icons  ul{width: 241px;
			margin: 0px auto;
			padding: 0px;
    		float: none;
    	}
    	.container.image_slider[_ngcontent-c0] {
    		position: unset;
    	}


		/deep/span.icon-prev.carousel-control-prev-icon {
			bottom: 50px;
		    left: 1%;
		    position: absolute;
		    opacity: 1;
		}
		ul.navbar-nav {
			float: right;
			position: absolute;
			right: 0px;
		}

		/deep/span.icon-next.carousel-control-next-icon {
			bottom: 50px;
		    right: 37%;
		    position: absolute;
		    opacity: 1;
		}
		/deep/.carousel-indicators {
		    right: auto;
		    bottom: 14px;
		    position: absolute;
		    left: 19%;
		}
		.social-network[_ngcontent-c0] {
			float: right;
			position: fixed;
			right: 15px;
			bottom: 149px;
		}
		/deep/span.icon-next.carousel-control-next-icon::before{
			font-size:16px;
		}
		/deep/span.icon-prev.carousel-control-prev-icon::after{
			font-size:16px;
		}
		.creative-txt[_ngcontent-c0]{
			font-size: 15px;
		}
		ul.navbar-nav {
			float: right;
			display: inline-block;
			position: absolute;
			right: 8px;
			bottom:-14px;
		}
		nav.navbar.navbar-expand-lg.navbar-dark.primary-color[_ngcontent-c0]{
			width: 98%;
		}

		.example-large-box[_ngcontent-c0] {
			height: 117px !important;
		}
		.icons-wall[_ngcontent-c0] {
			background-color: transparent;
		}
		div#basicExampleNav {
			padding-top: 36px;
		}
		.navbar-nav[_ngcontent-c0] li[_ngcontent-c0] {
			display: inline-block !important;
			padding-left: 20px;
		}
		.icon[_ngcontent-c0] {
			font-size: 17px;
		}
		.artdesign[_ngcontent-c0][_ngcontent-c0] {
			font-family: myriadpro;
			font-size: 10px;
		}
		.artwork[_ngcontent-c0] {
			font-family: myriadpro;
			font-size: 21px;
			padding-left: 20px;
		}
		.carousel-caption[_ngcontent-c0]{
			bottom: 0px;
		}
	}
	@media (min-width: 481px) and (max-width: 575px) {
		.inner-decor-section[_ngcontent-c0] {
			float: left;
			position: absolute;
			width: 100%;
			top: 100px;
			left: 2px;
		}
		.inner-decor-section[_ngcontent-c0] h1[_ngcontent-c0] {
			font-size: 34px;
			padding-left: 20px;
			width: 87%;
		}
		.navbar-dark[_ngcontent-c0] .navbar-brand[_ngcontent-c0]{
			left: 14px;
			font-size: 29px
		}
		nav.navbar.navbar-expand-lg.navbar-dark.primary-color[_ngcontent-c0]{
			top: 14px;
		}
		button.btn.read-btn.waves-light[_ngcontent-c0]{
			font-size: 15px;
			margin-top: 0px;

		}
		button.btn.btn-primary.watch-video-btn.waves-light[_ngcontent-c0]{
			font-size: 15px;
			margin-top: 0px;
		}
		.container.image_slider{
			right: 0px;
		}
		.text-section[_ngcontent-c0]{
			height:501px;
		}
		/deep/.carousel-inner{
			height:auto;
			top: 45px;;
			padding-right:20px;
		}
		.slider-section[_ngcontent-c0]{
			height:auto;
			top:45px;
			background-color: transparent;
		}
		.social-network li {
    		color: rgba(0,0,0,.87);
		}
		.slide-img{
			width:100%;
		}
		.plus-icon {
			background-color: #df573f;
			font-size: 31px;
			color: white;
			position: absolute;
			border-radius: 100%;
			padding: 9px 13px 10px 11px;
			right: 50%;
		    z-index: 999999;
		    bottom: -25%;
		}
		.col-sm-6.social_icons {
			position: unset !important;
			left: unset !important;
			z-index: 999999999 !important;
			bottom: unset !important;
			padding-top:11px;
		}
		.col-sm-6.social_icons  ul{width: 241px;
			margin: 0px auto;
			padding: 0px;
    		float: none;
    	}
    	.container.image_slider {
    		position: unset;
    	}


		/deep/span.icon-prev.carousel-control-prev-icon {
			bottom: 50px;
		    left: 1%;
		    position: absolute;
		    opacity: 1;
		}
		ul.navbar-nav {
			float: right;
			position: absolute;
			right: 0px;
		}

		/deep/span.icon-next.carousel-control-next-icon {
			bottom: 50px;
		    right: 37%;
		    position: absolute;
		    opacity: 1;
		}
		/deep/.carousel-indicators {
		    right: auto;
		    bottom: 14px;
		    position: absolute;
		    left: 19%;
		}
		.social-network{
			float: right;
			position: fixed;
			right: 15px;
			bottom: 149px;
		}
		/deep/span.icon-next.carousel-control-next-icon::before{
			font-size:16px;
		}
		/deep/span.icon-prev.carousel-control-prev-icon::after{
			font-size:16px;
		}
		.creative-txt[_ngcontent-c0]{
			font-size: 15px;
		}
		ul.navbar-nav {
			float: right;
			display: inline-block;
			position: absolute;
			right: 8px;
			bottom:-14px;
		}
		nav.navbar.navbar-expand-lg.navbar-dark.primary-color[_ngcontent-c0]{
			width: 98%;
		}

		.example-large-box[_ngcontent-c0] {
			height: 169px !important;
		}
		.icons-wall[_ngcontent-c0] {
			background-color: transparent;
		}
		div#basicExampleNav {
			padding-top: 36px;
		}
		.navbar-nav[_ngcontent-c0] li[_ngcontent-c0] {
			display: inline-block !important;
			padding-left: 20px;
		}
		.icon[_ngcontent-c0] {
			font-size: 17px;
		}
		.artdesign[_ngcontent-c0][_ngcontent-c0] {
			font-family: myriadpro;
			font-size: 10px;
		}
		.artwork[_ngcontent-c0] {
			font-family: myriadpro;
			font-size: 21px;
			padding-left: 20px;
		}
		.carousel-caption{
			bottom: 0px;
		}
	}
	@media (min-width: 576px) and (max-width: 767px) {
		.inner-decor-section[_ngcontent-c0] {
			float: left;
			position: absolute;
			width: 100%;
			top: 100px;
			left: 2px;
		}/*
		.text-section{
			
		}*/
		.col-sm-6{
			width:100% !important;
			max-width:100% !important;
			flex: 0 0 100% !important;
		}
		.inner-decor-section[_ngcontent-c0] h1[_ngcontent-c0] {
			font-size: 34px;
			padding-left: 20px;
			width: 71%;
		}
		.navbar-dark[_ngcontent-c0] .navbar-brand[_ngcontent-c0]{
			left: 14px;
			font-size: 29px
		}
		nav.navbar.navbar-expand-lg.navbar-dark.primary-color[_ngcontent-c0]{
			top: 14px;
		}
		button.btn.read-btn.waves-light[_ngcontent-c0]{
			font-size: 15px;
			margin-top: 0px;

		}
		button.btn.btn-primary.watch-video-btn.waves-light[_ngcontent-c0]{
			font-size: 15px;
			margin-top: 0px;
		}
		.container.image_slider{
			right: 0px;
		}
		.text-section[_ngcontent-c0]{
			height:501px;
		}
		/deep/.carousel-inner{
			height:auto;
			top: 45px;;
			padding-right:20px;
		}
		.slider-section[_ngcontent-c0]{
			height:auto;
			top:45px;
			background-color: transparent;
		}
		.social-network li {
    		color: rgba(0,0,0,.87);
		}
		.slide-img{
			width:100%;
		}
		.plus-icon {
			background-color: #df573f;
			font-size: 31px;
			color: white;
			position: absolute;
			border-radius: 100%;
			padding: 9px 13px 10px 11px;
			right: 50%;
		    z-index: 999999;
		    bottom: -28%;
		}
		.col-sm-6.social_icons {
			position: unset !important;
			left: unset !important;
			z-index: 999999999 !important;
			bottom: unset !important;
			padding-top:18px;
		}
		.col-sm-6.social_icons  ul{width: 241px;
			margin: 0px auto;
			padding: 0px;
    		float: none;
    	}
    	.container.image_slider {
    		position: unset;
    	}


		/deep/span.icon-prev.carousel-control-prev-icon {
			bottom: 50px;
		    left: 1%;
		    position: absolute;
		    opacity: 1;
		}
		ul.navbar-nav {
			float: right;
			position: absolute;
			right: 0px;
		}

		/deep/span.icon-next.carousel-control-next-icon {
			bottom: 50px;
		    right: 37%;
		    position: absolute;
		    opacity: 1;
		}
		/deep/.carousel-indicators {
		    right: auto;
		    bottom: 14px;
		    position: absolute;
		    left: 19%;
		}
		.social-network{
			float: right;
			position: fixed;
			right: 15px;
			bottom: 149px;
		}
		/deep/span.icon-next.carousel-control-next-icon::before{
			font-size:16px;
		}
		/deep/span.icon-prev.carousel-control-prev-icon::after{
			font-size:16px;
		}
		.creative-txt[_ngcontent-c0]{
			font-size: 15px;
		}
		ul.navbar-nav {
			float: right;
			display: inline-block;
			position: absolute;
			right: 8px;
			bottom:-14px;
		}
		nav.navbar.navbar-expand-lg.navbar-dark.primary-color[_ngcontent-c0]{
			width: 98%;
		}

		.example-large-box[_ngcontent-c0] {
			height: 169px !important;
		}
		.icons-wall[_ngcontent-c0] {
			background-color: transparent;
		}
		div#basicExampleNav {
			padding-top: 36px;
		}
		.navbar-nav[_ngcontent-c0] li[_ngcontent-c0] {
			display: inline-block !important;
			padding-left: 20px;
		}
		.icon[_ngcontent-c0] {
			font-size: 17px;
		}
		.artdesign[_ngcontent-c0][_ngcontent-c0] {
			font-family: myriadpro;
			font-size: 10px;
		}
		.artwork[_ngcontent-c0] {
			font-family: myriadpro;
			font-size: 21px;
			padding-left: 20px;
		}
		.carousel-caption{
			bottom: 0px;
		}
	}
	@media (min-width: 768px) and (max-width: 900px) {

		.inner-decor-section[_ngcontent-c0] {
		    float: left;
		    position: absolute;
		    width: 100%;
		    top: 92px;
		    left: 0px;
		}
		div#basicExampleNav {
			padding-top: 36px;
		}
		/*.profile-img{
		      padding-bottom: 12px !important;
		}*/
		.navbar-nav[_ngcontent-c0] li[_ngcontent-c0] {
			display: inline-block !important;
			padding-left: 20px;
		}
		.plus-icon[_ngcontent-c0][_ngcontent-c0][_ngcontent-c0] {
		    right: 1%;
		    z-index: 999999;
		    bottom: 40%;
		}
		.inner-decor-section[_ngcontent-c0] h1[_ngcontent-c0]{
			font-size: 31px;
			width: 86%;
		}
		ul.navbar-nav[_ngcontent-c0] {
		    position: absolute;
		    right: 0px;
		    display: inline-block;
		    top: -14px;
		}
		/deep/span.icon-prev.carousel-control-prev-icon {
		    bottom: 93px;
		    position: absolute;
		    left: 0px;
		}
		/deep/span.icon-next.carousel-control-next-icon {
		    position: absolute;
		    bottom: 93px;
		    right: 0px;
		}
		/deep/.carousel-indicators {
		    right: 0;
    		bottom: 18%;
		    left: 0px;
		}
		.col-sm-6.social_icons[_ngcontent-c0][_ngcontent-c0] {
		     position: absolute;
		    bottom: 54px;
		    left: -21%;
		    z-index: 9999;
		    width: 100%;
		}
		.social_icons ul{
			display:inline-block;
		}
		.social_icons[_ngcontent-c0] li[_ngcontent-c0]{
			padding-left: 9px;
		}
		.col-sm-6 {
		     max-width: 100%; 
		}
		.slider-section[_ngcontent-c0] {
   			 height: 573px;
		}
		.social-network[_ngcontent-c0] {
		    float: right;
		    position: absolute;
		    right: -20px;
		    bottom: 135px;
		}
		/deep/button.btn.read-btn.waves-light[_ngcontent-c0]{
		    width: 36%;
		    height: 37px;
		    font-size: 15px;
		    margin-top:0px;
    	}
    	/deep/button.btn.btn-primary.watch-video-btn.waves-light[_ngcontent-c0]{
    		width: 36%;
		    height: 37px;
		    font-size: 15px;
		    margin-top:0px;
    	}
    	.profile-img{
    		margin-bottom:12px;
    	}
    	.text-section{
    		height: 562px;
    	}
    	slide.ng-tns-c0-0.item.carousel-item.active {
    		height: 450px;
		}
		.artwork[_ngcontent-c0] {
    		font-family: myriadpro;
    		font-size: 22px;
    	}
    	slide.ng-tns-c0-0.item.carousel-item.active {
    		height: 449px;
		}
		.carousel-caption[_ngcontent-c0] {
		    position: absolute;
		    right: 15%;
		    bottom: -9px;
		}
	}
	@media (min-width: 901px) and (max-width: 1026px) {
		
		.inner-decor-section[_ngcontent-c0] {
		    float: left;
		    position: absolute;
		    width: 100%;
		    top: 92px;
		    left: 0px;
		}
		div#basicExampleNav {
			padding-top: 36px;
		}
		/*.profile-img{
		      padding-bottom: 12px !important;
		}*/
		.navbar-nav[_ngcontent-c0] li[_ngcontent-c0] {
			display: inline-block !important;
			padding-left: 20px;
		}
		.plus-icon[_ngcontent-c0][_ngcontent-c0] {
		    right: 1%;
		    z-index: 999999;
		    bottom: 48%;
		}
		.inner-decor-section[_ngcontent-c0] h1[_ngcontent-c0]{
			font-size: 31px;
			width: 86%;
		}
		ul.navbar-nav[_ngcontent-c0] {
		    position: absolute;
		    right: 0px;
		    display: inline-block;
		    top: -14px;
		}
		/deep/span.icon-prev.carousel-control-prev-icon {
		    bottom: 93px;
		    position: absolute;
		    left: 0px;
		}
		/deep/span.icon-next.carousel-control-next-icon {
		    position: absolute;
		    bottom: 84px;
		    right: 0px;
		}
		/deep/.carousel-indicators {
		    right: 0;
		    bottom: 14%;
		    left: 0px;
		}
		.col-sm-6.social_icons[_ngcontent-c0][_ngcontent-c0] {
		    position: absolute;
		    bottom: -18px;
		    left: -18%;
		    z-index: 9999;
		    width: 100%;
		}
		.social_icons ul{
			display:inline-block;
		}
		.social_icons[_ngcontent-c0] li[_ngcontent-c0]{
			padding-left: 9px;
		}
		.col-sm-6 {
		     max-width: 100%; 
		}
		.slider-section{
			height: 561px;
		}
		.social-network[_ngcontent-c0] {
		    float: right;
		    position: absolute;
		    right: -20px;
		    bottom: 135px;
		}
		button.btn.read-btn.waves-light[_ngcontent-c0]{
    		margin-top:0px !important;
    	}
    	button.btn.btn-primary.watch-video-btn.waves-light[_ngcontent-c0]{
    		margin-top:0px !important;
    	}
    	.text-section{
    		height: 562px;
    	}
    	slide.ng-tns-c0-0.item.carousel-item.active {
    		height:480px;
		}
		.artwork[_ngcontent-c0] {
    		font-family: myriadpro;
    		font-size: 22px;
    	}
    	.profile-img{
    		padding-bottom:12px;
    	}
	}
		@media (min-width: 1027px) and (max-width: 1244px) {
		
		.inner-decor-section[_ngcontent-c0] {
		    float: left;
		    position: absolute;
		    width: 100%;
		    top: 92px;
		    left: 0px;
		}
		div#basicExampleNav {
			padding-top: 36px;
		}
		/*.profile-img{
		      padding-bottom: 12px !important;
		}*/
		.navbar-nav[_ngcontent-c0] li[_ngcontent-c0] {
			display: inline-block !important;
			padding-left: 20px;
		}
		.plus-icon[_ngcontent-c0][_ngcontent-c0] {
		    right: 1%;
		    z-index: 999999;
		    bottom: 28%;
		}
		.inner-decor-section[_ngcontent-c0] h1[_ngcontent-c0]{
			font-size: 36px;
			width: 86%;
		}
		ul.navbar-nav[_ngcontent-c0] {
		    position: absolute;
		    right: 0px;
		    display: inline-block;
		    top: -14px;
		}
		/deep/span.icon-prev.carousel-control-prev-icon {
		    bottom: 93px;
		    position: absolute;
		    left: 0px;
		}
		/deep/span.icon-next.carousel-control-next-icon {
		    position: absolute;
		    bottom: 84px;
		    right: 0px;
		}
		/deep/.carousel-indicators {
		    right: 0;
		    bottom: 14%;
		    left: 0px;
		}
		.col-sm-6.social_icons[_ngcontent-c0][_ngcontent-c0] {
		    position: absolute;
		    bottom: -36px;
		    left: -18%;
		    z-index: 9999;
		    width: 100%;
		}
		.social_icons ul{
			display:inline-block;
		}
		.social_icons[_ngcontent-c0] li[_ngcontent-c0]{
			padding-left: 9px;
		}
		.col-sm-6 {
		     max-width: 100%; 
		}
		.slider-section[_ngcontent-c0] {
    		height: 561px;
		}
		.social-network[_ngcontent-c0] {
		    float: right;
		    position: absolute;
		    right: -20px;
		    bottom: 135px;
		}
		button.btn.read-btn.waves-light[_ngcontent-c0]{
    		margin-top:0px !important;
    	}
    	button.btn.btn-primary.watch-video-btn.waves-light[_ngcontent-c0]{
    		margin-top:0px !important;
    	}
    	.text-section{
    		height: 562px;
    	}
    	slide.ng-tns-c0-0.item.carousel-item.active {
    		height: 540px;
		}
		.artwork[_ngcontent-c0] {
    		font-family: myriadpro;
    		font-size: 22px;
    	}
    	.profile-img{
    		padding-bottom:12px;
    	}
	}

	@media (min-width: 1245px) and (max-width: 1400px) {
		slide.ng-tns-c0-0.item.carousel-item {
   			height: 700px;
		}
		/deep/span.icon-prev.carousel-control-prev-icon {
		    bottom: -42px;
		    position: absolute;
		    left: 344px;
		}
		/deep/span.icon-next.carousel-control-next-icon {
		    position: absolute;
		    bottom: -45px;
		    right: -5px;
		}
		.social-network[_ngcontent-c0] {
		    float: right;
		    position: absolute;
		    right: -20px;
		    bottom: 211px;
		}
		.col-sm-6.social_icons[_ngcontent-c0][_ngcontent-c0] {
		    position: absolute;
		    bottom: 81px;
		    left: -17%;
		    z-index: 9999;
		}
		.plus-icon[_ngcontent-c0] {
		    background-color: #df573f;
		    font-size: 31px;
		    color: white;
		    position: absolute;
		    border-radius: 100%;
		    padding: 8px 17px 9px 16px;
		    right: -104px;
		    z-index: 999999;
		    bottom: 136px;
		}
	}