<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">BR.</a>

  <!-- Collapse button -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> -->

<!-- Collapsible content -->
<div class=" navbar-collapse" >

  <!-- Links -->
  <ul class="navbar-nav  ">
    <li class="nav-item active">
      <a class="nav-link" href="#"><i class="fa fa-search icon" aria-hidden="true"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><img src="/decor-painting/assets/images/Profile.jpg" class="profile-img"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-th icon" aria-hidden="true"></i></a>
    </li>

  </ul>
  <!-- Links -->
</div>
<!-- Collapsible content -->

</nav>
<!--/.Navbar-->
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-12 col-sm-6 col-md-6 text-section">
      <div class="outer-decor-section">
        <div class="inner-decor-section">
          <h1 class="text-heading animated fadeIn mb-4 " [@flyInOut]="status" > Wall Decor Ideas & Paint Color Guide</h1>
          <div class="tabs">
              <mat-tab-group>
                <mat-tab label="Recents"> <p class="creative-txt" [@flyInOut]="status">
                  Get creative wall painting designs & ideas for a stylish 
                  home decor.Latest home painting colour ideas & designs 
                  for bedrooms, living rooms...
                </p></mat-tab>
                <mat-tab label="Popular"><p class="creative-txt" [@flyInOut]="status">
                  Get creative wall painting designs & ideas for a stylish 
                  home decor.Latest home painting colour ideas & designs 
                  for bedrooms, living rooms...
                </p> </mat-tab>
              </mat-tab-group>
          <!--   <mat-tab-group dynamicHeight>
              <mat-tab label="Recents" class="border-dark-recent">
               <div class="example-large-box mat-elevation-z4">
                 <p class="creative-txt" [@flyInOut]="status">
                  Get creative wall painting designs & ideas for a stylish 
                  home decor.Latest home painting colour ideas & designs 
                  for bedrooms, living rooms...
                </p>
              </div>
              </mat-tab>
              <mat-tab label="Popular">
                <div class="example-large-box mat-elevation-z4">
                 <p class="creative-txt" [@flyInOut]="status">
                  Get creative wall painting designs & ideas for a stylish 
                  home decor.Latest home painting colour ideas & designs 
                  for bedrooms, living rooms...
                </p>
              </div>
            </mat-tab>
          </mat-tab-group> -->
        </div>

        <button type="button" class="btn read-btn waves-light" [@button-animate]="status" data-toggle="modal" data-target="#basicExample"
        mdbWavesEffect>
        Read More
      </button>
      <button type="button" class="btn btn-primary watch-video-btn waves-light" data-toggle="modal"  [@button-animate]="status" data-target="#basicExample"
      mdbWavesEffect>
      Watch Video
    </button>
    <div align="center" class="plus-icon-div">
      <i class="fa fa-plus plus-icon " aria-hidden="true" [@button-animate]="status"></i>
    </div>
  </div>

</div>
</div>

<div class="col-sm-12 col-md-6 icons-wall">
  <div class="col-sm-6 social_icons">
    <ul>
      <li><i class="fa fa-eye" aria-hidden="true"></i> 41.2k</li>
      <li class="heart-icon"><i class="fa fa-heart " aria-hidden="true"></i>1601</li>
      <li><i class="fa fa-comment" aria-hidden="true">107</i></li>
    </ul>
  </div>
 
  <div class="col-sm-12 col-md-6  slider-section"></div>

  <div class="container image_slider">
    <div class="col-xs-12">
      <carousel>
        <slide>
          <img src="/decor-painting/assets/images/decor.png"   class="img-responsive center-block slide-img" width="100%">
          <div class="carousel-caption">
           <h4 class="artwork">Cool ArtWork</h4>
           <p  class="artdesign">Designed by  <span class="author-name" >Anna Sullivan</span></p>
         </div>
       </slide>
       <slide>
        <img src="/decor-painting/assets/images/decor.png"   width="100%" class="img-responsive center-block slide-img">
        <div class="carousel-caption">
         <h4 class="artwork">Cool ArtWork</h4>
         <p  class="artdesign">Designed by  <span class="author-name" >Anna Sullivan</span></p>
       </div>
     </slide>
     <slide>
      <img src="/decor-painting/assets/images/budha.png"  width="100%"  class="img-responsive center-block slide-img">
      <div class="carousel-caption">
       <h4 class="artwork">Cool ArtWork</h4>
       <p  class="artdesign">Designed by  <span class="author-name" >Anna Sullivan</span></p>
     </div>
   </slide>
   <slide>
    <img src="/decor-painting/assets/images/peacock.png"  width="100%" class="img-responsive center-block slide-img">
    <div class="carousel-caption">
     <h4 class="artwork">Cool ArtWork</h4>
     <p  class="artdesign">Designed by  <span class="author-name" >Anna Sullivan</span></p>
   </div>
 </slide>
 <slide>
  <img src="/decor-painting/assets/images/decor.png"   width="100%" class="img-responsive center-block slide-img">
  <div class="carousel-caption">
    <h4 class="artwork">Cool ArtWork</h4>
    <p class="artdesign">Designed by  <span class="author-name" >Anna Sullivan</span></p>
  </div>
</slide>
</carousel>
</div>

<div class="social-network">
  <ul>
    <li><i class="fa fa-facebook facebook" aria-hidden="true"></i></li>
    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
    <li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
  </ul>
</div>
</div>
</div>
</div>
</div>